<div id = "container">
  <app-map 
    [receivedLoc]="reportList"
  ></app-map>
  <br>
  SEARCH <input type="text" [(ngModel)]="query">
  <br>
  <table id="data_table">
      <!-- Table headers -->
      <tr>
        <td>Location</td>
        <td>Baddie's Name</td>
        <td>Time Reported</td>
        <td>Status</td>
        <td>Show Report Details</td>
        <td>Delete a report</td>
      </tr>
      <!-- Table body -->
      <tr *ngFor="let r of reportList | search:query">
        <td>{{ r.location.locationName }}</td>
        <td>{{ r.baddie_name }}</td>
        <td>{{ r.time_reported | date : "yyyy-MM-dd (HH:mm)" }}</td>
        <td>{{ r.status }}</td>
        <td>
          <button 
            class="show_more"
            (click)="showStuff(r.reportId)"
          >
          Show More
          </button>
        </td>
        <td>
          <button 
            class="delete_report"
            (click)="deleteReport(r.reportId)"
          >X</button>
        </td>
      </tr>
  </table>
  <br>
  <a id="create_report_btn" routerLink="/reports/add">CREATE NUISANCE REPORT</a>
</div>



  
  